* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #3a4ac3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

input {
    padding: 10px;
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px;
    background-color: #010d78;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d16527;
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.total-section {
    text-align: right;
    margin-top: 10px;
}

.total-section h3 {
    font-size: 1.2rem;
    color: #010d78;
}
.total-section span {
    color: #fff;
}
